*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_wrapper{
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_fr{
  width: 600px;
  aspect-ratio: 1;
  background-color: tomato;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 10);
  aspect-ratio: 1;
  background-color: coral;
  color: white;
  border: 2px solid whitesmoke;
  cursor: pointer;
}

.square.clicked{
  background-color: cadetblue;
}
